html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#green-day-header {
  --background: none;
  background-image: linear-gradient(to right, forestgreen, limegreen, white),
    url("../images/GoogleImg.jpg");
  background-position: 0%, 100%;
  background-repeat: no-repeat;
  background-size: 90%, 10%;
}

#green-day-footer {
  --background: none;
  background-image: url("../images/Grass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

ion-chip {
  height: 20%;
  width: 20%;
  font-size: 36px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  top: 50%;
  left: 40%;
  transform: translate(0, -50%);
  margin: 0;
  position: absolute;
}

ion-thumbnail {
  height: 10%;
  width: 10%;
}
